<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <%= demographics_headers %>
    </th>
  </thead>
  <tbody>
    <% designated_market_areas.each do |designated_market_area| %>
      <tr>
        <td><%= designated_market_area.code %></td>
        <td><%= link_to designated_market_area.name, designated_market_area_path(designated_market_area) %></td>
        <%= demographics_cells(designated_market_area, round_area: 0) %>
      </tr>
    <% end %>
  </tbody>
</table>
