<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>GEOID</th>
      <th>Name</th>
      <%= demographics_headers %>
    </th>
  </thead>
  <tbody>
    <% combined_statistical_areas.each do |combined_statistical_area| %>
      <tr>
        <td><%= combined_statistical_area.geoid %></td>
        <td><%= link_to combined_statistical_area.name, combined_statistical_area_path(combined_statistical_area) %></td>
        <%= demographics_cells(combined_statistical_area, round_area: 0) %>
      </tr>
    <% end %>
  </tbody>
</table>
