name: Continuous Integration
on:
  push:
    branches:
      - master
      - actions-*
    tags:
      - v*
  pull_request:
env:
  BUNDLE_CLEAN: "true"
  BUNDLE_PATH: vendor/bundle
  BUNDLE_JOBS: 3
  BUNDLE_RETRY: 3
jobs:
  specs:
    name: Run specs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "ruby"
            standardrb: true
            yard: true
          - ruby: "4.0"
            appraisal: "activerecord_8"
          - ruby: "3.3"
            appraisal: "activerecord_7"
          - ruby: "3.0"
            appraisal: "activerecord_6"
          - ruby: "2.6"
            appraisal: "activerecord_5"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "${{ matrix.ruby }}"
      - name: Set Appraisal bundle
        if: matrix.appraisal != ''
        run: |
          echo "using gemfile gemfiles/${{ matrix.appraisal }}.gemfile"
          bundle config set gemfile "gemfiles/${{ matrix.appraisal }}.gemfile"
      - name: Install bundler
        run: |
          bundle update
      - name: Run specs
        run: |
          bundle exec rake spec
      - name: standardrb
        if:   matrix.standardrb == true
        run:  bundle exec standardrb
      - name: yard
        if: matrix.yard == true
        run:  bundle exec yard doc --fail-on-warning


